:root {
  --accentgreen: #55CEAB;
  --cream: #EBE6DD;
  --chestnut: #3D3232;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
  width: 100%;
    /* overflow-x: hidden; */
}

a {
  all: unset;
}
body {
  background-image: linear-gradient(rgba(61, 50, 50, .7), rgba(61, 50, 50, .7)), url(../images/construction-barley-desat.jpg);
  /* background-color: var(--chestnut); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: white;
  font-family: 'Barlow', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.2em;
  height: 100%;
  width: 100%;
  margin: 0;

}

.container {
  display: grid;
  grid-template-columns: [full-start] minmax(.4rem, 5rem) [mainstart] 1fr [mainend] minmax(4px, 5rem) [full-end];
  grid-template-rows: [topStart] minmax(.8rem, 6rem) [topEnd announceStart] 5rem [announceEnd heroStart] 1fr [heroEnd footerStart] minmax(5rem, 15rem) [footerEnd];
  grid-template-areas:
    ". navbar ."
    "announceBar announceBar announceBar"
    ". hero ."
    "footer footer footer";
  min-height: 100%;
  width: 100%;
}
/* everything below is within the container */

.address {

  border-bottom: 2px solid var(--accentgreen);
  text-align: center;
}
.address p {
  margin-bottom: .5rem;
}
.announceBar {
  grid-area: announceBar;
  /* display: grid; */
  align-self: center;
 background-color: rgba(235, 230, 221, 0.5);
}
.announceBar p{
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  margin: .6rem;
}
.footer {
  grid-area: footer;
  justify-self: center;
}

.hero {
  grid-area: hero;
  justify-self: center;
  align-self: center;
  margin-top: 5rem;
}

.logoBig img{
  min-width: 30rem;
  /* width: 75%; */
  max-width: 50rem;
}
.logoSmall {
  display: flex;
  justify-content: center;

}
.logoSmall img{
  height: auto;
  min-width: 17.5rem;
  width: 75%;
  max-width: 25rem;
  border-bottom: 2px solid var(--cream);
}
@media (max-width: 44rem) {
  .announceBar p{
    font-size: 2.2rem;
  }
  .hero h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
  }
  .logoBig {
    display: none;
  }
}
@media (min-width: 44rem) {
  .announceBar p{
    font-size: 2.8rem;
  }
  .footer p{
    font-size: 2rem;
  }
  .hero h3 {
    text-align: right;
    font-size: 3rem;
    font-weight: 300;
    margin-top: -5rem;
    margin-right: -6rem;
  }
  .logoSmall {
    display: none;
  }
}
.navbar {
  grid-area: navbar;
  align-self: center;
}
.navbar ul {
  display: flex;
  flex-direction: row-reverse;
  list-style: none;
}
.socialmedia {
  padding: 0;
  margin: 1rem auto;
  display: flex;
  list-style: none;
  justify-content: space-around;
  font-size: 3.2rem;
}
