:root {
  --accentgreen: #55CEAB;
  --cream: #EBE6DD;
  --chestnut: #3D3232;
}

* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
  height: 100%;
  width: 100%;
    /* overflow-x: hidden; */
}
a { text-decoration: none; color: #333 } /* Globally */

/* Each state */

a:visited { text-decoration: none; color:white; }
a:hover { text-decoration: none; color:blue; }
a:focus { text-decoration: none; color:yellow; }
a:hover, a:active { text-decoration: none; color:black }
body {
    margin: 0;
    font-family: "Barlow", sans-serif;
    background-color: var(--chestnut);
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    overflow-y: scroll;
}

section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
h1 {
  padding: 1.2rem;
  margin-bottom: 2rem;
}

h2 {
font-size: 2.4rem;
margin: 1.2rem;
line-height: 125%;
text-transform: uppercase;
}

h3 {
  font-family: 'Meddon', cursive;
  font-size: 1.8rem;
  /* margin: 1.2rem; */
}

p {
  font-size: 1.8rem;
  letter-spacing: normal;
  /* padding: 1.6rem; */
}
/* div styling */

.hero {
    /* Sizing */
    width: 100vw;
    height: 95vh;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
   text-align: center;

    /*background stuff*/
    background-image: linear-gradient(
        rgba(48, 36, 63, 0.55),
        rgba(48, 36, 63, 0.55)
      ),url(../images/barley-pic-nolemon.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.announceBar {
  /* visibility: hidden; */
  /* align-self: center; */
  text-align: center;
/* background-color: rgba(235, 230, 221, 0.5); */
}
.announceBar p{
  color: #fff;
  display: flex;
  justify-content: center;
  text-transform: none;
  margin: 1.8rem;
  letter-spacing: .2rem;
  line-height: 2.5rem;
  font-weight: 300;
}
.announceBar a {color:white;}
.announceBar a:visited { text-decoration: none; color:white; }
.announceBar a:hover { text-decoration: none; color:var(--accentgreen); }
.announceBar a:focus { text-decoration: none; color:var(--accentgreen); }
.announceBar a:hover, a:active {
  text-decoration: none;
  color: white;
  font-weight: bold;
 }
.hero h1 img {
  object-fit: contain;
}
.hero h2 {
  color: white;
  font-weight: normal;
  letter-spacing: normal;
}

.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 75%;
    max-width: 35rem;

    /* Padding and margins */
    padding: 2rem;
    margin-top: 3.3rem;
    margin-left: auto;
    margin-right: auto;

    /* Border styles */
    /* border: 3px solid black; */
    /* Background styles */
    font-size: 2.2rem;
    font-weight: 700;
    background-color: var(--accentgreen);
    color: #000;
}
.hero .btn:hover{
  color:#fff;
}
.hero .btn:active{
  background-color: black;
}

.hero .btn2 {
  /* Positioning and sizing */
  display: block;
  width: 75%;
  max-width: 35rem;
  font-size: 2.2rem;

  /* Padding and margins */
  padding: 1em;
  margin-top: 3.3rem;
  margin-left: auto;
  margin-right: auto;

  /* Border styles */
  /* border: 3px solid black; */
  /* Background styles */
  background-color: #322E2E;
  color: #fff;
}
.hero .btn2:hover{
  color:var(--accentgreen);
}
.hero .btn2:active{
  background-color: black;
}

.about  {
  background-color: tan;
  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}
.about h2 {
  text-align: center;
}
.about p, h3{
  padding: 2rem;
  line-height: 125%;
}
.about-contents {
  margin: 4rem auto;
}

.gallery {
  background-color: #E8E4DB;
  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-contents {
  /* Flexbox stuff */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pictures {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.picture-box img{
  /* max-width: 40vw;
  max-height: 40vw; */
  width: 30rem;
  height: 30rem;
  object-fit: cover;
  padding: 1.6rem;
}
.footer {
  background-color: var(--chestnut);
  text-align: center;
  min-height: 30rem;
}
.footer h2{
  color: white;
}
.footer p {
  color: white;
  font-size: 1.5rem;
  line-height: 135%;
  padding: 1rem;
}
.footer a { text-decoration: none; color: var(--accentgreen) } /* Globally */

/* Each state */

.footer a:visited { text-decoration: none; color:var(--accentgreen); }
.footer a:hover { text-decoration: none; color:orange; }
.footer a:focus { text-decoration: none; color:var(--accentgreen); }
.footer a:hover, a:active {
  text-decoration: none;
  color: white;
  font-weight: bold;
 }

 .contact-contents {
   margin: 4rem auto;
 }

.socialmedia {
  margin: 1rem;
  margin-bottom: 3rem;
  display: flex;
  list-style: none;
  justify-content: center;
  font-size: 3.2rem;
}
.socialmedia li {
  padding: 0 1.6rem;
}


@media (max-width: 44rem) { /*for mobile view*/
.hero-contents img {
  /* Set rules to fill background */
    max-height: 200px;
    min-height: 100px;
    max-width: 80%;
    min-width: 50%;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
  }

  .about-contents {

  }
}
@media (min-width: 44rem) { /*for desktop view*/
.hero-contents img
  {
  /* Set rules to fill background */
    max-height: 30rem;
    min-height: 10rem;
    max-width: 50%;
    min-width: 30%;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
  }
  .about-contents {
    max-width: 70rem;

  }
